
body {
    background-image: url('./images/login.jpg');
    max-block-size: contain;
    background-size: cover;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin: auto;
    padding-left: 690px;
    color: darkslategrey;
    padding-top: 20px;
}


.container form {
    max-width: 700px;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid;
    border-radius: 10px;
    background-color: darkslategray;
}

.input-box {
    margin-bottom: 20px;
    margin-top: 30px;
}

.input-box label {
    display: block;
    margin-bottom: 5px;
    color: orange;
    font-family:  sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.input-box input,
.input-box select {
    width: 90%;
    padding: 10px;
    border: 3px solid #555;
}

.home {
    margin-left: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: lightgray;
}

.form button{
    background-color: darkgray;
    color: black;
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-left: 240px;
    margin-bottom: 10px;
    font-size: 20px;

}

.form button:hover{
    background-color: lightgray;
}

.submit button{
    background-color: darkgray;
    color: black;
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-left: 270px;
    font-size: 20px;

}

.submit button:hover{
    background-color: lightgray;

}

.account{
    display: flex;

}

.account button{

    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: darkgrey;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.2s;
    margin-top: 15px;
    margin-left: 10px;
}

.account h3{
    font-family: sans-serif;
    margin-left: 600px;
    margin-top: 20px;
    font-size: 30px;
    color: orange;
    font-weight: bolder;

}

.account button:hover{
    background-color: lightgrey;
}


